#archives li {
    padding: 20px 0px;
    color: #e9e9e9;
}
#archives li h1 {
    color: black;
    margin-top: 10px;
}
#archives li ul li:hover {
    color: black;
    border-bottom: 1px dotted black;
    cursor: pointer;
}
#archives li h1:hover {
    color: black;
}