#category {

}
#category li {
    margin-top: 10px;
    margin-bottom: 10px;
}
#category span {
    color: #777777b5;
    border-bottom: 1px solid #777777b5;
    padding-bottom: 3px;
}
#category span:hover {
    cursor: pointer;
    color: black;
}